@import "CSS/variables.css";

.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 25px 25px 25px;
  margin-bottom: 15px;
}

.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}

.screen-header__icons {
  display: flex;
  justify-content: space-between;
}

.screen-header__icons div {
  margin-left: 15px;
}

.screen_notification {
  position: relative;
  top: -25px;
  right: -17px;
}
